<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.kyungsu93.disease.serivce.DiseaseMapper">
	<select id="selectDiseaseNoForGetMyDiseaseList"
			parameterType="String"
			resultType="com.cafe24.kyungsu93.disease.service.MyDisease">
		SELECT
			my_disease_no as myDiseaseNo
		FROM
			my_disease
		WHERE
			member_no=#{memberNo}
	</select>
	<select id="selectMyDiseaseList"
			parameterType="String"
			resultType="com.cafe24.kyungsu93.disease.service.MyDiseaseDetail">
		SELECT
			a.disease_sub_category_no as diseaseSubCategory
			,d.disease_no as diseaseNo
			,c.family_history as familyHitory
			,c.disease_sub_category_name as diseaseSubCategory
			,d.disease_name as diseaseName
		FROM
			my_disease_detail a, my_disease b, disease_sub_category c, disease d
		WHERE
			a.my_disease_no=b.my_disease_no and 
			a.disease_sub_category_no=c.disease_sub_category_no and 
			c.disease_no = d.disease_no and
			a.my_disease_no = #{myDiseaseNo}
	</select>
	<select id="selectForMemberCheck" 
			parameterType="com.cafe24.kyungsu93.disease.service.MyDisease"
			resultType="String">
		SELECT
			my_disease_no
		FROM
			my_disease
		WHERE
			member_no=#{memberNo}
	</select>
	<select id="selectMyDiseaseNo" resultType="Integer">
		SELECT
			IFNULL(MAX(cast(SUBSTRING(my_disease_no, 12) as decimal)), 0)
		FROM
			my_disease
	</select>
	<insert id="insertMyDiseaseDetail">
		INSERT INTO my_disease_detail(
			disease_sub_category_no
			,my_disease_no
			,my_disease_detail_date
		)
		VALUES(
			#{diseaseSubCategoryNo}
			,#{myDiseaseNo}
			,now()
		)
	</insert>
	<insert id="insertMyDisease" parameterType="com.cafe24.kyungsu93.disease.service.MyDisease">
		INSERT INTO my_disease(
			my_disease_no
			,member_no
		)
		VALUES(
			#{myDiseaseNo}
			,#{memberNo}
		)
	</insert>
	<delete id="deleteDiseaseSubCategory" parameterType="String">
		DELETE			
		FROM
			disease_sub_category
		WHERE
		disease_sub_category_No=#{diseaseSubCategoryNo}
	</delete>
	<select id="selectDiseaseSubCategoryNameChecked" 
			parameterType="String"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			disease_sub_category
		WHERE
			disease_sub_category_name=#{diseaseSCName}
	</select>
	<select id="selectDiseaseSubCategory" resultType="com.cafe24.kyungsu93.disease.service.DiseaseSubCategory">
		SELECT
			disease_sub_category_no as diseaseSubCategoryNo
			,disease_no as diseaseNo
			,family_history as familyHistory
			,disease_sub_category_name as diseaseSubCategoryName
			,disease_sub_category_date as diseaseSubCategoryDate
		FROM
			disease_sub_category
		WHERE
			disease_no = #{diseaseNo}
	</select>
	
	<select id="selectDiseaseList" resultType="com.cafe24.kyungsu93.disease.service.Disease">
		SELECT
			disease_no as diseaseNo
			,disease_name as diseaseName
		FROM
			disease
	</select>
	
	<select id="selectDiseaseSubCategoryNo" resultType="Integer">
		SELECT
			IFNULL(MAX(cast(SUBSTRING(disease_sub_category_no,13) as decimal)), 0)
		FROM
			disease_sub_category
	</select>
	<select id="selectDiseaseNo" resultType="Integer">
		SELECT
			IFNULL(MAX(cast(SUBSTRING(disease_no,9) as decimal)), 0)
		FROM
			disease
	</select>
	<insert id="insertDiseaseSubCategory" parameterType="com.cafe24.kyungsu93.disease.service.DiseaseSubCategory">
		INSERT INTO disease_sub_category(
			disease_sub_category_no
			,disease_no
			,family_history
			,disease_sub_category_name		
			,disease_sub_category_date			
		)
		VALUES(
			#{diseaseSubCategoryNo}
			,#{diseaseNo}
			,#{familyHistory}
			,#{diseaseSubCategoryName}
			,now()
		)
	</insert>
	<insert id="insertDisease" parameterType="com.cafe24.kyungsu93.disease.service.Disease">
		INSERT INTO disease(
			disease_no
			,disease_name
			,disease_date
		)
		VALUES(
			#{diseaseNo}
			,#{diseaseName}
			,now()
		)
	</insert>
</mapper>