<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.cafe24.kyungsu93.bloodsugar.service.BloodsugarMapper">  
  
  <select id="searchTable" 
				resultType="hashmap" 
				parameterType="com.cafe24.kyungsu93.bloodsugar.service.Bloodsugar">
			SELECT
				blood_sugar_no as Bloodsugarno
				,member_no as memberno
				FROM blood_sugar
				INNER JOIN member b
				ON a.member_no = b.member_no
  </select>	
 
  <select id="bloodsugarList" parameterType="java.util.Map" resultType="com.cafe24.kyungsu93.bloodsugar.service.Bloodsugar">
 	 SELECT b.blood_sugar_no AS bloodsugarno
  			,b.member_no AS memberno 
  			,b.fasting_blood_sugar AS fastingbloodsugar
  			,b.fasting_state AS fastingstate 
  			,b.blood_sugar_date AS bloodsugardate
	FROM blood_sugar AS b
	JOIN member AS m
	ON m.member_no=b.member_no

  </select>
  
  <select id="bloodsugarCount" resultType="Integer">
		SELECT
		count(*)
		FROM blood_sugar
	</select>
  
  <insert id="addBloodsugar" parameterType="com.cafe24.kyungsu93.bloodsugar.service.Bloodsugar">
    
  INSERT INTO blood_sugar(
	blood_sugar_no
	, member_no
	, fasting_blood_sugar
	, fasting_state
	, blood_sugar_date
	)
	VALUES (
	 #{bloodsugarno}
	, #{memberno} 
	, #{fastingbloodsugar}
	, #{fastingstate}
	, now()
	)
  
  </insert>
  
  <select id="BloodsugarOne"
			 parameterType="String"
			resultType="com.cafe24.kyungsu93.bloodsugar.service.Bloodsugar">
		SELECT
			blood_sugar_no as bloodsugarno
			,b.member_no as memberno
			,fasting_blood_sugar as fastingbloodsugar
			,fasting_state as fastingstate
			,blood_sugar_date as bloodsugardate
			FROM blood_sugar AS b		
			INNER JOIN member AS m
			ON b.member_no = m.member_no
		WHERE blood_sugar_no = #{bloodsugarno}
		
	 </select>
	 <update id="updateBloodsugar" parameterType="com.cafe24.kyungsu93.bloodsugar.service.Bloodsugar">
		UPDATE blood_sugar
		SET blood_sugar_no =  #{bloodsugarno}
	, member_no = #{memberno} 
	, fasting_blood_sugar = #{fastingbloodsugar}
	, fasting_state = #{fastingstate}
	, blood_sugar_date = now()
	WHERE blood_sugar_no = #{bloodsugarno}

	</update>
	
	<delete id="deleteBloodsugar"  parameterType="com.cafe24.kyungsu93.bloodsugar.service.Bloodsugar">
		DELETE FROM blood_sugar WHERE blood_sugar_no = #{bloodsugarno}
	</delete>
	
  
  </mapper>