<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.kyungsu93.diet.service.DietMapper">
	<select id="selectGetCalorieInfo"
			parameterType="String"
			resultType="com.cafe24.kyungsu93.diet.service.CalorieBattle">
		SELECT
			a.calorie_battle_no as calorieBattleNo
			,a.member_no as memberNo
			,a.consume_calorie as consumeCalorie
			,a.ingest_calorie as ingestCalorie
			,a.oneday_calorie as oneDayCalorie
			,a.carbohydrate as carbohydrate
			,a.protein as protein
			,a.fat as fat
			,a.sugar as sugar
			,a.natrium as natrium
			,a.cholesterol as cholesterol
			,a.sfa as sfa
			,a.calorie_battle_date as calorieBattleDate
			,b.member_id as memberId
		FROM
			calorie_battle a, member b
		WHERE
			b.member_no = #{memberNo}
		 	AND a.member_no = b.member_no
	</select>
	<select id="selectGetCalorieBattleSearchList"
			parameterType="String"
			resultType="com.cafe24.kyungsu93.diet.service.BodyMassIndexResponse">
		SELECT
			a.member_no as memberNo
			,a.body_height as bodyHeight
			,a.body_weight as bodyWeight
			,a.body_waist_size as bodyWaistSize
			,a.body_mass_index as bodyMassIndex
 			,a.body_date as bodyDate
			,b.member_id as memberId
		FROM  
			body_mass_index a, member b
		WHERE
			a.member_no = b.member_no
			AND b.member_id = #{memberId}
		GROUP BY
			a.member_no
	</select>
	<select id="selectGetCalorieBattleList"
			resultType="com.cafe24.kyungsu93.diet.service.BodyMassIndexResponse">
		SELECT 
			member_no as memberNo
			,body_height as bodyHeight
			,body_weight as bodyWeight
			,body_waist_size as bodyWaistSize
			,body_mass_index as bodyMassIndex
			,body_date as bodyDate
			,member_id as memberId			
		FROM 
			(SELECT
				a.member_no
				,a.body_height
				,a.body_weight
				,a.body_waist_size
				,a.body_mass_index
				,a.body_date
				,b.member_id
			FROM  body_mass_index a, member b
			WHERE
				a.member_no = b.member_no
			ORDER BY body_mass_index ASC) as a
		GROUP BY 
			a.member_no;			
	</select>
	<update id="updateCalorieBattle" 
			parameterType="com.cafe24.kyungsu93.diet.service.CalorieBattle">
		UPDATE calorie_battle 
		SET
			consume_calorie = #{consumeCalorie}
			,ingest_calorie = #{ingestCalorie}
			,oneday_calorie = #{oneDayCalorie}
			,carbohydrate = #{carbohydrate}
			,protein = #{protein}
			,fat = #{fat}
			,sugar = #{sugar}
			,natrium = #{natrium}
			,cholesterol = #{cholesterol}
			,sfa = #{sfa}
			,calorie_battle_date = now()		
		WHERE
			member_no = #{memberNo}	
	</update>
	<select id="selectCalorieBattleNoCount" 
			parameterType="java.util.Map"
			resultType="Integer">
		SELECT
			count(*) as cnt
		FROM
			calorie_battle
		WHERE
			member_no = #{memberNo}
			and calorie_battle_no LIKE CONCAT('%',#{today},'%')
	</select>
	<select id="selectCalorieBattleNo" resultType="Integer">
		SELECT
			IFNULL(MAX(cast(SUBSTRING(calorie_battle_no,27) as decimal)), 0)
		FROM
			calorie_battle
	</select>	
	<insert id="insertCalorieBattle" 
			parameterType="com.cafe24.kyungsu93.diet.service.CalorieBattle">
		INSERT INTO calorie_battle(
			calorie_battle_no
			,member_no
			,consume_calorie
			,ingest_calorie
			,oneday_calorie
			,carbohydrate
			,protein
			,fat
			,sugar
			,natrium
			,cholesterol
			,sfa
			,calorie_battle_date
		)
		VALUES(
			#{calorieBattleNo}
			,#{memberNo}
			,#{consumeCalorie}
			,#{ingestCalorie}
			,#{oneDayCalorie}
			,#{carbohydrate}
			,#{protein}
			,#{fat}
			,#{sugar}
			,#{natrium}
			,#{cholesterol}
			,#{sfa}			
			,now()
		)	
	</insert>
	<select id="selectIngestForBattle"
			parameterType="string"
			resultType="com.cafe24.kyungsu93.diet.service.TotalConsumeResponse">				
		SELECT
			ingest_calorie_no as ingestCalorieNo
			,member_no as memberNo
			,food_no as foodNo
			,ingest_weight as IngestWeight
			,ingest_calorie_date as ingestCalorieDate
		FROM
			ingest_calorie
		WHERE
			member_no = #{memberNo}
	</select>
	<delete id="deleteConsumeCalorie"
			parameterType="String">
		DELETE
		FROM
			consume_calorie
		WHERE
			consume_calorie_no = #{consumeCalorieNo}	
		
	</delete>
	<select id="selectTotalConsume"
			parameterType="java.util.Map"
			resultType="com.cafe24.kyungsu93.diet.service.TotalConsumeResponse">				
		SELECT
			a.member_no as memberNo
			,a.consume_time as consumeTime
			,a.consume_calorie_date as consumeCalorieDate
			,b.exercise_name as exerciseName
			,b.exercise_calorie as totalExerciseCalorie
		FROM
			consume_calorie a, exercise b
		WHERE
			a.exercise_no = b.exercise_no 
			and a.member_no=#{memberNo}
			and YEAR(a.consume_calorie_date) = #{pickYear}
			and MONTH(a.consume_calorie_date) = #{pickMonth}
			and DAY(a.consume_calorie_date) = #{pickDay} 
	</select>
	<select id="selectConsumeCalorieList"
			parameterType="String"
			resultType="com.cafe24.kyungsu93.diet.service.ConsumeCalorie">
		SELECT
			a.consume_calorie_no as consumeCalorieNo
			,a.member_no as memberNo
			,a.exercise_no as exerciseNo
			,a.consume_time as consumeTime
			,a.consume_calorie_date as consumeCalorieDate
			,b.exercise_name as exerciseName
		FROM
			consume_calorie a, exercise b
		WHERE
			a.exercise_no = b.exercise_no AND a.member_no = #{memberNo}
	</select>
	<select id="selectExerciseSearch"
			parameterType="String"
			resultType="com.cafe24.kyungsu93.diet.service.Exercise">
		SELECT
			exercise_no as exerciseNo
			,exercise_name as exerciseName
			,exercise_calorie as exerciseCalorie
			,exercise_date as exerciseDate
		FROM
			exercise
		WHERE
			exercise_name LIKE CONCAT('%',#{sv},'%')
	</select>
	<select id="selectConsumeCalorieNo" resultType="Integer">
		SELECT
			IFNULL(MAX(cast(SUBSTRING(consume_calorie_no,17) as decimal)), 0)
		FROM
			consume_calorie
	</select>	
	<insert id="insertConsumeCalorie" parameterType="com.cafe24.kyungsu93.diet.service.ConsumeCalorie">
		INSERT INTO consume_calorie(
			consume_calorie_no
			,member_no
			,exercise_no
			,consume_time
			,consume_calorie_date
		)
		VALUES(
			#{consumeCalorieNo}
			,#{memberNo}
			,#{exerciseNo}
			,#{consumeTime}
			,now()
		)	
	</insert>
	<select id="selectTotalCalorie" 
			parameterType="java.util.Map"
			resultType="com.cafe24.kyungsu93.diet.service.TotalCalorieResponse">				
		SELECT
			a.member_no as memberNo
			,a.ingest_weight as ingestWeight
			,a.ingest_calorie_date as ingestCalorieDate
			,b.food_name as foodName
			,b.food_once as totalOnce
			,b.food_kcal as totalKcal
			,b.food_carbohydrate as totalCarbohydrate
			,b.food_protein as totalProtein
			,b.food_fat as totalFat
			,b.food_sugar as totalSugar
			,b.food_natrium as totalNatrium
			,b.food_cholesterol as totalCholesterol
			,b.food_sfa as totalSfa
		FROM
			ingest_calorie a, food b
		WHERE
			a.food_no = b.food_no 
			and a.member_no=#{memberNo}
			and YEAR(a.ingest_calorie_date) = #{pickYear}
			and MONTH(a.ingest_calorie_date) = #{pickMonth}
			and DAY(a.ingest_calorie_date) = #{pickDay} 
	</select>
	<delete id="deleteIngestCalorie" parameterType="String">
		DELETE
		FROM
			ingest_calorie
		WHERE
			ingest_calorie_no=#{ingestCalorieNo}
	</delete>
	<select id="selectIngestCalorieList"
			parameterType="String"
			resultType="com.cafe24.kyungsu93.diet.service.IngestCalorie">
		SELECT
			a.ingest_calorie_no as ingestCalorieNo
			,a.member_no as memberNo
			,a.food_no as foodNo
			,a.ingest_weight as IngestWeight
			,a.ingest_calorie_date as ingestCalorieDate
			,b.food_name as foodName
		FROM
			ingest_calorie a, food b
		WHERE
			a.food_no = b.food_no AND member_no=#{memberNo}
		ORDER BY
			ingest_calorie_date DESC
	</select>
	<select id="selectIngestCalorieNo" resultType="Integer">
		SELECT
			IFNULL(MAX(cast(SUBSTRING(ingest_calorie_no,16) as decimal)), 0)
		FROM
			ingest_calorie
	</select>
	<insert id="insertIngestCalorie" parameterType="com.cafe24.kyungsu93.diet.service.IngestCalorie">
		INSERT INTO ingest_calorie(
			ingest_calorie_no
			,member_no
			,food_no
			,ingest_weight
			,ingest_calorie_date
		)
		VALUES(
			#{ingestCalorieNo}
			,#{memberNo}
			,#{foodNo}
			,#{ingestWeight}
			,now()
		)
			
	</insert>
	<select id="selectFoodSearch"
			parameterType="String"
			resultType="com.cafe24.kyungsu93.food.service.Food">
		SELECT
			food_no as foodNo
			,food_group as foodGroup
			,food_name as foodName
			,food_once as foodOnce
			,food_kcal as foodKcal
			,food_carbohydrate as foodCarbohydrate
			,food_protein as foodProtein
			,food_fat as foodFat
			,food_sugar as foodSugar
			,food_natrium as foodNatrium
			,food_cholesterol as foodCholesterol
			,food_sfa as foodSfa
			,food_build_year as foodBuildYear
		FROM
			food
		WHERE
			food_name LIKE CONCAT('%',#{sv},'%')
	</select>
</mapper>