<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.kyungsu93.diet.service.DietMapper">
	<select id="selectForAddIngestCalorie"
			resultType="com.cafe24.kyungsu93.FoodInfo">
		SELECT
			food_info_no as foodInfoNo
			,food_group as foodGroup
			,food_name as foodName
			,food_once as foodOnce
			,food_kcal as foodKcal
			,food_carbohydrate as foodCarbohydrate
			,food_protein as foodProtein
			,food_fat as foodFat
			,food_sugar as foodSugar
			,food_natrium as foodNatrium
			,food_cholesterol as foodCholesterol
			,food_sfa as foodSfa
			,food_transfat as foodTransfat
			,food_build_year as foodBuildYear
		FROM
			food_info
	</select>
</mapper>