<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.kyungsu93.group.service.GroupMapper">
	<select id="deleteGroupList" parameterType="String" 
			resultType="com.cafe24.kyungsu93.group.service.Group">
		SELECT
			a.group_no as groupNo,
			a.group_expired_date as groupExpiredDate,
			b.member_no as memberNo,
			b.group_name as groupName,
			b.group_info as groupInfo,
			c.member_name as memberName,
			b.group_create_date as groupCreateDate,
			d.group_kind_name as groupKindName
		FROM group_delete a
		INNER JOIN group_table b
		ON a.group_no = b.group_no
		INNER JOIN member c
		ON b.member_no = c.member_no
		INNER JOIN group_kind d
		ON b.group_kind_no = d.group_kind_no		
		ORDER BY group_expired_date DESC
	</select>
	<select id="groupdeleteCount" resultType="Integer">
		SELECT
		count(*)
		FROM group_delete
	</select>
	<select id="groupDeleteCheckMember" parameterType="String" resultType="Integer">
		SELECT
			count(*)
		FROM group_invite_approval
		WHERE group_name = #{groupName}
	</select>
	<select id="groupDeleteCheckgroupNo" parameterType="String" resultType="com.cafe24.kyungsu93.group.service.Group">
		SELECT
			group_name as groupName
		FROM group_invite_approval
		WHERE group_no = #{groupNo}
	</select>
	<select id="groupDdayNo" parameterType="String" resultType="com.cafe24.kyungsu93.group.service.Group">
		SELECT
		group_no as groupNo
		FROM group_delete
		WHERE group_Expired_date = #{groupExpiredDate}
	</select>
	<select id="groupDdaycheck" resultType="com.cafe24.kyungsu93.group.service.Group">
		SELECT
		 MIN(group_expired_date) as groupExpiredDate 
		FROM group_delete
	</select>
	<insert id="deleteApproval" parameterType="com.cafe24.kyungsu93.group.service.Group">
		INSERT INTO group_delete
		(group_no, group_expired_date)
		VALUES (
			#{groupNo}, NOW()+Interval 1 Month
		)
	</insert>
		 <delete id="deleteGroupDelete"  parameterType="com.cafe24.kyungsu93.group.service.Group">
		DELETE 
		FROM group_delete 
		WHERE group_no = #{groupNo}
	</delete>
	 <delete id="deleteGroup"  parameterType="com.cafe24.kyungsu93.group.service.Group">
		DELETE 
		FROM group_table 
		WHERE group_no = #{groupNo}
	</delete>
	<select id="groupList" 
			parameterType="Integer" 
			resultType="com.cafe24.kyungsu93.group.service.Group">
	 	SELECT
			a.group_no as groupNo,
			a.group_name as groupName,
			a.group_info as groupInfo,
			a.group_create_date as groupCreateDate,
			c.group_kind_name as groupKindName
		FROM group_table a		
		INNER JOIN group_kind c
		ON a.group_kind_no = c.group_kind_no			
		ORDER BY group_create_date DESC
		LIMIT #{beginRow},#{pagePerRow}
	</select>
	<select id="modifyGroupResult"  
				 parameterType="com.cafe24.kyungsu93.group.service.Group">
	 	UPDATE group_table
		SET	
			group_kind_no = #{groupKindNo},
			group_info = #{groupInfo},
			group_create_date = now()
	 	WHERE group_no = #{groupNo}
	</select>	 
	<select id="modifyGroup"  
				 parameterType="String" 
				 resultType="com.cafe24.kyungsu93.group.service.Group">
	 	SELECT 
	 		a.group_no as groupNo,
	 		a.member_no as memberNo,
			a.group_name as groupName,
			a.group_info as groupInfo,
			a.group_create_date as groupCreateDate,	
			c.group_kind_name as groupKindName
		FROM group_table a		
		INNER JOIN group_kind c
		ON a.group_kind_no = c.group_kind_no	
	 	WHERE group_no = #{groupNo}
	</select>	 
	 <select id="checkGroupName" parameterType="String"
				 resultType="Integer">
	 	SELECT 
	 	COUNT(*)
	 	FROM group_table
	 	WHERE group_name = #{groupName}
	 </select>
	 <select id="groupNo" resultType="Integer">
		SELECT
		max(CAST(substring(group_no,7) AS DECIMAL))
		FROM group_table
	</select>
	<select id="groupCount" resultType="Integer">
		SELECT
		count(*)
		FROM group_table
	</select>
	<insert id="addGroup" parameterType="com.cafe24.kyungsu93.group.service.Group">
		INSERT INTO group_table (
			group_no, group_kind_no, member_no, group_name, group_info, group_create_date
			)
			VALUES (
			#{groupNo}, #{groupKindNo}, #{memberNo}, #{groupName}, #{groupInfo}, now()
			)
	</insert>
</mapper>