<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.kyungsu93.group.service.GroupMapper">
	 <delete id="deleteGroup"  parameterType="com.cafe24.kyungsu93.group.service.Group">
		DELETE FROM group_table WHERE group_no = #{groupNo}
	</delete>
	<select id="groupList" 
			parameterType="Integer" 
			resultType="com.cafe24.kyungsu93.group.service.Group">
	 	SELECT
			group_no as groupNo,
			group_name as groupName,
			group_info as groupInfo,
			group_create_date as groupCreateDate,
			group_kind_name as groupKindName
		FROM group_table a		
		INNER JOIN group_kind c
		ON a.group_kind_no = c.group_kind_no			
		ORDER BY group_create_date DESC
		LIMIT #{beginRow},#{pagePerRow}
	</select>
	<select id="modifyGroupResult"  
				 parameterType="com.cafe24.kyungsu93.group.service.Group">
	 	UPDATE group_table
		SET	
			group_name= #{groupName},
			group_kind_no = #{groupKindNo},
			group_info = #{groupInfo},
			group_create_date = now()
	 	WHERE group_no = #{groupNo}
	</select>	 
	<select id="modifyGroup"  
				 parameterType="String" 
				 resultType="com.cafe24.kyungsu93.group.service.Group">
	 	SELECT group_no as groupNo,
	 		member_no as memberNo,
			group_name as groupName,
			group_info as groupInfo,
			group_create_date as groupCreateDate,	
			group_kind_name as groupKindName
		FROM group_table a		
		INNER JOIN group_kind c
		ON a.group_kind_no = c.group_kind_no	
	 	WHERE group_no = #{groupNo}
	</select>	 
	 <select id="checkGroupName" parameterType="String"
				 resultType="Integer">
	 	SELECT 
	 	COUNT(*)
	 	FROM group_table
	 	WHERE group_name = #{groupName}
	 </select>
	 <select id="groupNo" resultType="Integer">
		SELECT
		max(CAST(substring(group_no,7) AS DECIMAL))
		FROM group_table
	</select>
	<select id="groupCount" resultType="Integer">
		SELECT
		count(*)
		FROM group_table
	</select>
	<insert id="addGroup" parameterType="com.cafe24.kyungsu93.group.service.Group">
		INSERT INTO group_table (
			group_no, group_kind_no, member_no, group_name, group_info, group_create_date
			)
			VALUES (
			#{groupNo}, #{groupKindNo}, #{memberNo}, #{groupName}, #{groupInfo}, now()
			)
	</insert>
</mapper>