<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyMapper">

	<select id="healthSurveyTotalCount" resultType="Integer">
		SELECT
			COUNT(*)
		FROM health_survey_register
	</select>
	
  	<select id="getHealthSurveyList"  parameterType="java.util.Map"
  										resultType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyResponse">
		SELECT
  			survey.health_survey_register_no AS healthSurveyRegisterNo
  			,member.member_name AS memberName
  			,disease.disease_name AS diseaseName
  			,survey.health_survey_register_title AS healthSurveyRegisterTitle
  			,survey.health_survey_register_date AS healthSurveyRegisterDate
  			,grade.health_survey_evaluation_average_grade/grade.health_survey_people_number AS surveyGrade
  		FROM health_survey_register AS survey
			,health_survey_average_grade AS grade
			,member AS member
			,disease AS disease
		WHERE survey.health_survey_register_no = grade.health_survey_register_no
				and survey.member_no = member.member_no
				and survey.disease_no = disease.disease_no
		ORDER BY survey.health_survey_register_date DESC
		LIMIT #{beginRow}, #{pagePerRow}
  	</select>
  	
  	<select id="getHealthSurveyContent" parameterType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyRequest" resultType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyResponse">
  		SELECT
  			survey.health_survey_register_no AS healthSurveyRegisterNo
  			,member.member_name AS memberName
  			,disease.disease_name AS diseaseName
  			,grade.health_survey_evaluation_average_grade/grade.health_survey_people_number AS surveyGrade
  			,survey.health_survey_register_title AS healthSurveyRegisterTitle
  			,survey.health_survey_register_content AS healthSurveyRegisterContent
  			,survey.health_survey_point AS healthSurveyPoint
  			,survey.health_survey_register_count AS healthSurveyRegisterCount
  			,survey.health_survey_register_date AS healthSurveyRegisterDate
  		FROM health_survey_register AS survey
			,health_survey_average_grade AS grade
			,member AS member
			,disease AS disease
		WHERE survey.health_survey_register_no = #{healthSurveyRegisterNo}
				and survey.health_survey_register_no = grade.health_survey_register_no
				and survey.member_no = member.member_no
				and survey.disease_no = disease.disease_no
  	</select>
  	
  	<select id="getHealthSurveyNo" resultType="Integer">
		SELECT
			IFNULL(MAX(CAST(SUBSTRING(health_survey_register_no,24)as decimal)),0) 
		FROM health_survey_register
	</select>
  	
  	<select id="getHealthSurveyQuestionNo" resultType="Integer">
		SELECT
			IFNULL(MAX(CAST(SUBSTRING(health_survey_question_no,24)as decimal)),0) 
		FROM health_survey_question
	</select>
	
	<select id="getHealthSurveySelectionNo" resultType="Integer">
		SELECT
			IFNULL(MAX(CAST(SUBSTRING(health_survey_selection_no,25)as decimal)),0) 
		FROM health_survey_selection
	</select>
  	
	<insert id="addHealthSurvey" parameterType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyRequest">
		INSERT INTO health_survey_register(
			health_survey_register_no
			,member_no
			,disease_no
			,health_survey_register_title
			,health_survey_register_content
			,health_survey_point
			,health_survey_register_normal
			,health_survey_register_warning
			,health_survey_register_danger
			,health_survey_register_count
			,health_survey_register_total
			,health_survey_register_date
		)
		VALUES(
			#{healthSurveyRegisterNo}
			,#{memberNo}
			,#{diseaseNo}
			,#{healthSurveyRegisterTitle}
			,#{healthSurveyRegisterContent}
			,#{healthSurveyPoint}
			,#{healthSurveyRegisterNormal}
			,#{healthSurveyRegisterWarning}
			,#{healthSurveyRegisterDanger}
			,#{healthSurveyRegisterCount}
			,#{healthSurveyRegisterTotal}
			,now()
		)
	</insert>
	
	<insert id="addHealthSurveyQuestion" parameterType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyQuestion">
		INSERT INTO health_survey_question(
			health_survey_question_no
			,health_survey_register_no
			,question_no
			,health_survey_question
		)
		VALUES(
			#{healthSurveyQuestionNo}
			,#{healthSurveyRegisterNo}
			,#{questionNo}
			,#{healthSurveyQuestion}
		)
	</insert>
	
	<insert id="addHealthSurveySelection" parameterType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveySelection">
		INSERT INTO health_survey_selection(
			health_survey_selection_no
			,health_survey_question_no
			,selection_no
			,health_survey_selection
			,health_survey_selection_score
		)
		VALUES(
			#{healthSurveySelectionNo}
			,#{healthSurveyQuestionNo}
			,#{selectionNo}
			,#{healthSurveySelection}
			,#{healthSurveySelectionScore}
		)
	</insert>
	
	<insert id="addHealthSurveyAverageGrade" parameterType="String">
		INSERT INTO health_survey_average_grade (
			health_survey_register_no
		)
		VALUES(
			#{healthSurveyRegisterNo}
		)
	</insert>
	
	<delete id="removeHealthSurveyAverageGrade" parameterType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyAverageGrade">
		DELETE
		FROM health_survey_average_grade
		WHERE health_survey_register_no = #{healthSurveyRegisterNo}
	</delete>
	
	<delete id="removeHealthSurveySelection" parameterType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyQuestion">
		DELETE
		FROM health_survey_selection
		WHERE health_survey_question_no = #{healthSurveyQuestionNo}
	</delete>
	
	<delete id="removeHealthSurveyQuestion" parameterType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyRequest">
		DELETE
		FROM health_survey_question
		WHERE health_survey_register_no = #{healthSurveyRegisterNo}
	</delete>
	
	<select id="getHealthSurveyResultNoList" parameterType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyRequest"
												resultType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyResultRequest">
		SELECT
			health_survey_result_no AS healthSurveyResultNo
		FROM health_survey_result
		WHERE health_survey_register_no = #{healthSurveyRegisterNo}
	</select>
	
	<delete id="removeHealthSurveyTotalGrade" parameterType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyResultRequest">
		DELETE
		FROM health_survey_total_grade
		WHERE health_survey_result_no = #{healthSurveyResultNo}
	</delete>
	
	<delete id="removeHealthSurveyRecord" parameterType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyResultRequest">
		DELETE
		FROM health_survey_record
		WHERE health_survey_result_no = #{healthSurveyResultNo}
	</delete>
	
	<delete id="removeHealthSurveyResult" parameterType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyRequest">
		DELETE
		FROM health_survey_result
		WHERE health_survey_register_no = #{healthSurveyRegisterNo}
	</delete>
	
	<delete id="removeHealthSurvey" parameterType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyRequest">
		DELETE 
		FROM health_survey_register
		WHERE health_survey_register_no = #{healthSurveyRegisterNo}
	</delete>
	
	<select id="getHealthSurveyQuestion" parameterType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyRequest"
											resultType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyQuestion">
		SELECT
			health_survey_register_no AS healthSurveyRegisterNo
			,health_survey_question_no AS healthSurveyQuestionNo
			,question_no AS questionNo
			,health_survey_question AS healthSurveyQuestion
		FROM health_survey_question
		WHERE health_survey_register_no = #{healthSurveyRegisterNo} 
	</select>
  
	<select id="getHealthSurveySelection" parameterType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyQuestion"
											resultType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveySelection">
		SELECT
			health_survey_selection_no AS healthSurveySelectionNo
			,selection_no AS selectionNo
			,health_survey_selection AS healthSurveySelection
			,health_survey_selection_score AS healthSurveySelectionScore
		FROM health_survey_selection
		WHERE health_survey_question_no = #{healthSurveyQuestionNo}
	</select>
	
	<select id="getHealthSurveyResultNo" resultType="Integer">
		SELECT
			IFNULL(MAX(CAST(SUBSTRING(health_survey_result_no,22)as decimal)),0) 
		FROM health_survey_result
	</select>
	
	<insert id="addHealthSurveyResult" parameterType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyResultRequest">
		INSERT INTO health_survey_result(
			health_survey_result_no
			,health_survey_register_no
			,member_no
			,health_survey_result_date
		)
		VALUES(
			#{healthSurveyResultNo}
			,#{healthSurveyRegisterNo}
			,#{memberNo}
			,now()
		)
	</insert>
	
	<insert id="addHealthSurveyTotalGrade" parameterType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyTotalGrade">
		INSERT INTO health_survey_total_grade(
			health_survey_result_no
			,health_survey_total_grade
		)
		VALUES(
			#{healthSurveyResultNo}
			,#{healthSurveyTotalGrade}
		)
	</insert>
	
	<insert id="addHealthSurveyRecord" parameterType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyResultRequest">
		INSERT INTO health_survey_record(
			health_survey_result_no
			,health_survey_selection_no
		)
		VALUES(
			#{healthSurveyResultNo}
			,#{healthSurveySelectionNo}
		)
	</insert>
	
	<select id="getHealthSurveyResultOne" parameterType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyResultRequest"
											resultType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyResultResponse">
		SELECT
			result.health_survey_result_no AS  healthSurveyResultNo
			,result.health_survey_register_no AS healthSurveyRegisterNo
			,result.health_survey_result_date AS healthSurveyResultDate
			,grade.health_survey_total_grade AS healthSurveyTotalGrade
			,member.member_name AS memberName
			,disease.disease_name AS diseaseName
			,register.health_survey_register_title AS healthSurveyRegisterTitle
			,register.health_survey_register_content AS healthSurveyRegisterContent
			,register.health_survey_register_normal AS healthSurveyRegisterNormal
			,register.health_survey_register_warning AS healthSurveyRegisterWarning
			,register.health_survey_register_danger AS healthSurveyRegisterDanger
			,register.health_survey_register_total AS healthSurveyRegisterTotal
			,result.health_survey_evaluation_do AS healthSurveyEvaluationDo
			,register.health_survey_register_date AS healthSurveyRegisterDate
		FROM health_survey_result AS result
			,health_survey_total_grade AS grade
			,health_survey_register AS register
			,member
			,disease
		WHERE result.health_survey_result_no = #{healthSurveyResultNo}
				and result.health_survey_register_no = register.health_survey_register_no
				and result.health_survey_result_no = grade.health_survey_result_no
				and register.member_no = member.member_no
				and register.disease_no = disease.disease_no
	</select>
	
	<select id="healthSurveyResultTotalCount" parameterType="com.cafe24.kyungsu93.member.service.Member"
												resultType="Integer">
		SELECT
			COUNT(*)
		FROM health_survey_result
		WHERE member_no = #{memberNo}
	</select>
	
	<select id="getHealthSurveyResultList" parameterType="java.util.Map"
											resultType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyResultResponse">
		SELECT
			result.health_survey_result_no AS  healthSurveyResultNo
			,result.health_survey_register_no AS healthSurveyRegisterNo
			,result.health_survey_result_date AS healthSurveyResultDate
			,grade.health_survey_total_grade AS healthSurveyTotalGrade
			,member.member_name AS memberName
			,disease.disease_name AS diseaseName
			,register.health_survey_register_title AS healthSurveyRegisterTitle
			,register.health_survey_register_content AS healthSurveyRegisterContent
			,register.health_survey_register_normal AS healthSurveyRegisterNormal
			,register.health_survey_register_warning AS healthSurveyRegisterWarning
			,register.health_survey_register_danger AS healthSurveyRegisterDanger
			,register.health_survey_register_total AS healthSurveyRegisterTotal
			,register.health_survey_register_date AS healthSurveyRegisterDate
		FROM health_survey_result AS result
			,health_survey_total_grade AS grade
			,health_survey_register AS register
			,member
			,disease
		WHERE result.member_no = #{memberNo}
				and result.health_survey_register_no = register.health_survey_register_no
				and result.health_survey_result_no = grade.health_survey_result_no
				and result.member_no = member.member_no
				and register.disease_no = disease.disease_no
		ORDER BY result.health_survey_result_date DESC
		LIMIT #{beginRow}, #{pagePerRow}
  	</select>
	
	<update id="addHealthSurveyEvaluation" parameterType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyResultRequest">
		UPDATE
			health_survey_result
		SET
			health_survey_evaluation_do = 1
		WHERE health_survey_result_no = #{healthSurveyResultNo}
	</update>
	
	<update id="updateHealthSurveyAverageGrade" parameterType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyAverageGrade">
		UPDATE
			health_survey_average_grade
		SET
			health_survey_evaluation_average_grade = health_survey_evaluation_average_grade + #{healthSurveyEvaluationAverageGrade}
			,health_survey_people_number = health_survey_people_number + 1
		WHERE health_survey_register_no = #{healthSurveyRegisterNo}
	</update>
</mapper>