<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyMapper">
  
  	<select id="getHealthSurveyList" resultType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyResponse">
  		SELECT
  			survey.health_survey_register_no AS healthSurveyRegisterNo
  			,member.member_name AS memberName
  			,disease.disease_name AS diseaseName
  			,grade.health_survey_evaluation_average_grade AS surveyGrade
  			,grade.health_survey_people_number AS peopleNumber
  			,survey.health_survey_register_title AS healthSurveyRegisterTitle
  			,survey.health_survey_register_content AS healthSurveyRegisterContent
  			,survey.health_survey_point AS healthSurveyPoint
  			,survey.health_survey_register_count AS healthSurveyRegisterCount
  			,survey.health_survey_register_date AS healthSurveyRegisterDate
  		FROM health_survey_register AS survey
			,health_survey_average_grade AS grade
			,member AS member
			,disease AS disease
		WHERE survey.health_survey_register_no = grade.health_survey_register_no
				and survey.member_no = member.member_no
				and survey.disease_no = disease.disease_no
  	</select>
  	
  	<select id="getHealthSurveyNo" resultType="Integer">
		SELECT
			IFNULL(MAX(CAST(SUBSTRING(health_suvey_register_no,13)as decimal)),0) 
		FROM health_survey_register
	</select>
  	
  	<select id="getHealthSurveyQuestionNo" resultType="Integer">
		SELECT
			IFNULL(MAX(CAST(SUBSTRING(health_suvey_question_no,13)as decimal)),0) 
		FROM health_survey_question
	</select>
	
	<select id="getHealthSurveySelectionNo">
		SELECT
			IFNULL(MAX(CAST(SUBSTRING(health_suvey_selection_no,14)as decimal)),0) 
		FROM health_survey_selection
	</select>
  	
	<insert id="addHealthSurvey" parameterType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyRequest">
		INSERT INTO health_survey_register(
			health_survey_register_no
			,member_no
			,disease_no
			,health_survey_register_title
			,health_survey_register_content
			,health_survey_point
			,health_survey_register_normal
			,health_survey_register_warning
			,health_survey_register_danger
			,health_survey_register_count
			,health_survey_register_total
			,health_survey_register_date
		)
		VALUES(
			#{healthSurveyRegisterNo}
			,#{memberNo}
			,#{diseaseNo}
			,#{healthSurveyRegisterTitle}
			,#{healthSurveyRegisterContent}
			,#{healthSurveyPoint}
			,#{healthSurveyRegisterNormal}
			,#{healthSurveyRegisterWarning}
			,#{healthSurveyRegisterDanger}
			,#{healthSurveyRegisterCount}
			,#{healthSurveyRegisterTotal}
			,#{healthSurveyRegisterDate}
		)
	</insert>
	
	<insert id="addHealthSurveyQuestion" parameterType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveyQuestion">
		INSERT INTO health_survey_question(
			health_survey_question_no
			,health_survey_register_no
			,question_no
			,health_survey_question
		)
		VALUES(
			#{healthSurveyQuestionNo}
			,#{healthSurveyRegisterNo}
			,#{questionNo}
			,#{healthSurveyQuestion}
		)
	</insert>
	
	<insert id="addHealthSurveySelection" parameterType="com.cafe24.kyungsu93.healthsurvey.service.HealthSurveySelection">
		INSERT INTO health_survey_selection(
			health_survey_selection_no
			,health_survey_question_no
			,selection_no
			,health_survey_selection
			,health_survey_selection_score
		)
		VALUE(
			#{healthSurveySelectionNo}
			,#{healthSurveyQuestionNo}
			,#{selectionNo}
			,#{healthSurveySelection}
			,#{healthSurveySelectionScore}
		)
	</insert>
  
</mapper>