<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.cafe24.kyungsu93.MessageMapper">
  <resultMap type="com.cafe24.kyungsu93.message.service.Message" id="message">
  	<result column="send_message_no" property="sendMessageNo"/>
  	<result column="send_member_id" property="sendMessageId"/>
  	<result column="member_send_no" property="memberSendNo"/>
  	<result column="member_receive_no" property="memberReceiveNo"/>
  	<result column="message_date" property="messageDate"/>
  	<result column="message_title" property="messageTitle"/>
  	<result column="message_content" property="messageContent"/>
  </resultMap>
  <!-- 아이디 존재 유무체크 -->
  	<select id="messageIdChk"
  			parameterType="String"
  			resultType="Integer">
  			SELECT count(*)
  			FROM member
  			WHERE member_id = #{memberId}
  	
  	</select>
  	<!-- 메시지번호 -->
  	<select id="messageNo"
  			resultType="Integer">
  			SELECT
         	IFNULL(MAX(cast(SUBSTRING(send_message_no,9) as decimal)), 0)
         	FROM send_message
  	</select>
  	<!-- 메시지번호 -->
  	<select id="memberReceiveNo"
  			resultType="String">
  			SELECT member_no
         	FROM member
         	WHERE member_id=#{memberId}
  	</select>
  	<!-- send_message 테이블 보낸 메시지  인설트-->
  	<insert id="sendMessage"
  			parameterType="com.cafe24.kyungsu93.message.service.Message">
  			INSERT INTO send_message(
  				send_message_no
  				,member_send_no
  				,member_receive_no
  				,message_date
  			)VALUES(
  				#{sendMessageNo}
  				,#{memberSendNo}
  				,#{memberReceiveNo}
  				,now()
  			
  			)
  	</insert>
  	<!--send_message_content 테이블 보낸 메시지  인설트-->
  	<insert id="sendMessageContent"
  			parameterType="com.cafe24.kyungsu93.message.service.Message">
  			INSERT INTO send_message_content(
  				send_message_no
  				,send_member_id
  				,message_title
  				,message_content
  			)VALUES(
  				#{sendMessageNo}
  				,#{sendMessageId}
  				,#{messageTitle}
  				,#{messageContent}
  			)
  	</insert>
  	<!--receive_message 테이블 받은메시지 내용인설트  -->
  	<insert id="receiveMessageContent"
  			parameterType="com.cafe24.kyungsu93.message.service.Message">
  			INSERT INTO receive_message(
  				send_message_no
  				,send_member_id
  				,message_title
  				,message_content
  			)VALUES(
  				#{sendMessageNo}
  				,#{sendMessageId}
  				,#{messageTitle}
  				,#{messageContent}
  			)
  	</insert>
  	<!-- 메시지 받은리스트  -->
  	<select id="messageReceiveList"
  			parameterType="java.util.Map"
  			resultMap="message">
  			SELECT 
  				rs.send_message_no
  				,rs.send_member_id
				,rs.message_title
				,rs.message_content
				,sm.message_date
			FROM send_message sm,receive_message rs
			WHERE sm.send_message_no=rs.send_message_no AND sm.member_receive_no=#{memberNo}
			LIMIT #{beginRoW},#{pagePerRow}
  	</select>
  	<!-- 받은 메시지 총 total -->
  	<select id="messageReceiveTotal"
  			parameterType="String"
  			resultType="Integer">
  			SELECT COUNT(*)
			FROM send_message sm, receive_message rm
			WHERE sm.send_message_no=rm.send_message_no 
				AND sm.member_receive_no=#{memberNo}
  	</select>
  	<insert id="messageContent"
  			parameterType="String">
  			INSERT INTO message_receive_date(
  				send_message_no
  				,read_date
  			)VALUES(
  				#{messageNo}
  				,now()
  			)
  	</insert>
  	<select id="selectMessageContent"
  			parameterType="String"
  			resultType="Integer">
  			SELECT count(*)
			FROM message_receive_date
			WHERE send_message_no=#{messageNo}
  	</select>
  	<select id="sendMessageList"
  			parameterType="String"
  			resultMap="message">
  			SELECT 
  				sc.send_message_no
  				,sc.send_member_id
				,sc.message_title
				,sc.message_content
				,sm.message_date
				,sm.member_receive_no
			FROM send_message sm,send_message_content sc
			WHERE sm.send_message_no=sc.send_message_no AND sm.member_send_no=#{memberNo}
  	</select>
  	<select id="ReceivemessageId"
  			parameterType="String"
  			resultType="String">
  			SELECT member_id
         	FROM member
         	WHERE member_no=#{ReceivemessageId}
  	</select>
  	<delete id="ReceiveMessageDelete"
  			parameterType="String">
  			DELETE FROM receive_message
  			WHERE send_message_no =#{ReceivemessageId}
  	</delete>
  	<delete id="SendMessageDelete"
  			parameterType="String">
  			DELETE FROM send_message_content
  			WHERE send_message_no =#{ReceivemessageId}
  	</delete>

  </mapper>