<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cafe24.kyungsu93.doctorrequest.service.DoctorRequestMapper">  
  
  <select id="DoctorRequestList" parameterType="java.util.Map" resultType="com.cafe24.kyungsu93.doctorrequest.service.DoctorRequest">
 	 SELECT r.request_health_information_no AS requestHealthInformationNo
  			,r.teacher_no AS teacherNo 
  			,r.member_no AS memberNo
  			,r.request_title AS requestTitle 
  			,r.request_content AS requestContent
  			,r.request_date AS requestDate
  			
	FROM request_health_information AS r
	JOIN member AS m
	ON r.member_no=m.member_no

  </select>
  
	<select id="doctorRequestCount" resultType="Integer">
		SELECT
		count(*)
		FROM request_health_information
	</select>
	
</mapper>