<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.kyungsu93.exercisefeedback.service.ExerciseFeedbackResponseMapper">
 	<insert id="addExerciseFeedback" parameterType="com.cafe24.kyungsu93.exercisefeedback.service.ExerciseFeedbackResult">
	 	INSERT INTO exercise_feedback
		(exercise_feedback_request_no, exercise_no, exercise_time, exercise_feedback_date)
		VALUES (
		#{exerciseFeedbackRequestNo}, #{exerciseNo}, #{exerciseTime}, NOW()
		)
 	</insert> 	
 	<select id="exerciseSearch" parameterType="Integer" resultType="com.cafe24.kyungsu93.exercisefeedback.service.ExerciseFeedbackResult">
	 	SELECT
		exercise_no as exerciseNo,
		exercise_name as exerciseName,
		exercise_calorie as exerciseCalorie
		FROM exercise
 	</select>
 	<select id="foodSearch" parameterType="String" 
			resultType="com.cafe24.kyungsu93.exercisefeedback.service.ExerciseFeedbackResult">
	SELECT 
		food_no as foodNo, 
		food_group as foodGroup, 
		food_name as foodName, 
		food_once as foodOnece, 
		food_kcal as foodKcal, 
		food_carbohydrate as foodCarbohydrate, 
		food_protein as foodProtein, 
		food_fat as foodFat, 
		food_sugar as foodSugar, 
		food_natrium as foodNatrium, 
		food_cholesterol as foodCholesterol, 
		food_transfat as foodTransfat
	FROM food
	WHERE food_group = #{foodGroup} or food_no = #{foodNo}
		<choose>
			<when test="foodName != null"> 
				AND food_name = #{foodName}
			</when>
		</choose>
	</select> 
</mapper>