<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cafe24.kyungsu93.medicine.service.MedicineMapper">
	<select id="getMedicineList" parameterType="String" resultType="com.cafe24.kyungsu93.medicine.service.Medicine">
		SELECT
			medicine_no AS medicineNo
			,medicine_name AS medicineName
			,medicine_manufacturer AS medicineManufacturer
			,medicine_material AS medicineMaterial
			,medicine_storage_method AS medicineStorageMethod
			,medicine_valid_term AS medicineValidTerm
			,medicine_etc_otc AS medicineEtcOtc
			,medicine_class AS medicineClass
			,medicine_appear AS medicineAppear
			,medicine_pack AS medicinePack
			,medicine_permission_date AS medicinePermissionDate
		FROM medicine
		WHERE medicine_name like '%#{medicineName}%'
	</select>

	<insert id="addMedicine" parameterType="com.cafe24.kyungsu93.medicine.service.Medicine">
		INSERT INTO medicine(
		medicine_no
		,medicine_name
		,medicine_manufacturer
		,medicine_permission_date
		,medicine_material
		,medicine_storage_method
		,medicine_valid_term
		,medicine_etc_otc
		,medicine_class
		,medicine_appear
		,medicine_pack
		)
		VALUES(
		#{medicineNo}
		,#{medicineName}
		,#{medicineManufacturer}
		,#{medicinePermissionDate}
		,#{medicineMaterial}
		,#{medicineStorageMethod}
		,#{medicineValidTerm}
		,#{medicineEtcOtc}
		,#{medicineClass}
		,#{medicineAppear}
		,#{medicinePack}
		)
	</insert>
	
</mapper>